@charset "utf-8";

/* 구글 폰트(본문-영어) Mooli : https://fonts.google.com/specimen/Mooli?query=mooli
font-family: 'Mooli', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
/* 눈누 폰트(본문-한글) https://noonnu.cc/font_page/15*/
@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 구글 폰트(포인트-영어) Italiana : https://fonts.google.com/specimen/Italiana?query=Italiana
  font-family: 'Italiana', serif; */
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
	
}

body{
	/* margin:0; */
	color:#6a6f8c;
	background-color: #FFF3D6; 
	font:600 16px/18px 'Mooli', sans-serif;
}

input{
	outline: none;
}

.maint_empty{
	height: 95vh;
  }
  

.login_row{
	/*position: relative;*/
	width: 100%;
	margin-top: 100px;
	/* margin-bottom: 1200px; */
 }

.card{
	position: absolute;
	/* top: 50%; */
	left: 50%;
	transform: translate(-50%, 10%);
	width: 100%;
	max-width:527px;
	min-height:720px;
}

.edit-box{
	width:100%;
	margin: auto;
	max-width:527px;
	min-height:720px;
	position:relative;
	background: url(../images/loginimage.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(178,202,170,.35),0 17px 50px 0 rgba(178,202,170,.19);
}
.edit-snip{
	width:100%;
	height:100%;
	position:absolute;
	padding:50px 60px 40px 60px;
	background:rgba(178,202,170,.9);
}
.edit-snip .edit,
.edit-snip .leave-in-form{
	top:50px;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.edit-snip .edit-in,
.edit-snip .leave-in,
.edit-space .group .check{
	display:none;
}
.edit-snip .tab,
.edit-space .group .label,
.edit-space .group .button{
	text-transform:uppercase;
}
.edit-space .group .label .keep{
	font-weight: normal;
}
.edit-snip .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 10px;
	display:inline-block;
	border-bottom:2px solid transparent;
	
}
.edit-snip .edit-in:checked + .tab,
.edit-snip .leave-in:checked + .tab{
	color:#fff;
	border-color:#EF5A4A;
}
.edit-space{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.edit-space .group{
	margin-bottom:15px;
}
.edit-space .group .label,
.edit-space .group .input,
.edit-space .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.edit-space .group .input,
.edit-space .group .button{
	border:none;
	padding:15px 15px;
	border-radius:25px;
	background:rgba(255,255,255,.2);
}
.edit-space .group input[data-type="password"]{
	/* text-security:circle; */
	-webkit-text-security:circle;
}
.edit-space .group .label{
	color:#faf5f5;
	font-size:12px;
}
.edit-space .group .button{
	background:#EF5A4A;
}
.edit-space .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.7);
}
.edit-space .group label .icon:before,
.edit-space .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.edit-space .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.edit-space .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}


.edit-space .group .check:checked + label{
	color:#fff;
}

.edit-space .group .check:checked + label .icon{
	background:#EF5A4A;
}
.edit-space .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.edit-space .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.edit-snip .edit-in:checked + .tab + .leave-in + .tab + .edit-space .edit{
	transform:rotate(0);
}
.edit-snip .leave-in:checked + .tab + .edit-space .leave-in-form{
	transform:rotate(0);
}

.group { overflow: hidden;}

.edit-space .group .post{
	width: 60%;
	float: left;
	border: none;
    padding: 10px 10px;
    border-radius: 25px;
    background: rgba(255,255,255,.2);
}


.edit-space .group .findpost{
	width: 30%;
	float: right;
	border: none;
    padding: 10px 10px;
    border-radius: 25px;
    background: rgba(178,202,170,.8);
	margin-bottom: 10px;

}
.edit-space .group .ditailadd{
	border: none;
    padding: 10px 10px;
    border-radius: 25px;
    background: rgba(255,255,255,.2);
	margin-bottom: 10px;
}

.edit-space .group .ditailadd2{
	border: none;
    padding: 10px 10px;
    border-radius: 25px;
    background: rgba(255,255,255,.2);
}
.addressbtn{
	margin: 10px 0px 0px 270px;
	padding: 10px 10px;
	background-color: rgba(179,203,190,.8) !important; 
	height: 100%;
	width: 30% !important;

}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}


.hr{
	height:2px;
	margin:30px 0 20px 0;
	background: rgba(239, 90, 74, 0.5);
}
.foot{
	text-align:center;
	
}
.foot .logo img{
	width: 50px;
	padding-top: 50px;
}

.card{
	width: 500px;
	background-color: #EF5A4A;
}


::placeholder{
color: #dbdbdb;
} 

@media (max-width: 767px) {
	.card{
		width: 80%;
		margin: 0 auto;
	}
}

@media (max-width: 555px) {
	.card{
		width: 70%;
		margin: 0 auto;
	}
	.edit-snip .tab {
		font-size: 18px;	
	}
}

@media (max-width: 555px) {
	.card{
		width: 65%;
	
	}
	.edit-snip{
		padding: 50px 50px 40px 50px;
	}
	.edit-snip .tab {
		font-size: 16px;	
	}
	.edit-space .group .input, .edit-space .group .button {
		border: none;
		padding: 10px 20px;
	}
	
}

@media (max-width: 446px) {
	.card{
		width: 65%;
	
	}
	.edit-snip .tab {
		font-size: 16px;	
	}

	.edit-snip{
		padding: 60px 40px 30px 40px;
	}
	
}

@media (max-width: 380px) {
	.card{
		width: 60%;
		margin: 0 auto;
	}
	.edit-snip{
		padding: 50px 20px 20px 30px;
	}
	.edit-snip .tab{	
		margin: 0 5px 15px 0;
		display: inline;
		margin-bottom: 20px;
	
	}
	.group{
		margin-top: 30px;
	}
	.keep{
		font-size: 14px;
	}
}