<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">

  <title>WFF FIND LOGIN</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/nav_footer.css">
  <link rel="stylesheet" href="assets/css/find.css">
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <!--

TemplateMo 582 Tale SEO Agency

https://templatemo.com/tm-582-tale-seo-agency

-->
</head>
<body>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="nav_footer.html" class="logo">
              <img src="assets/images/logo.svg" alt="" style="max-width: 112px;">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">About</a></li>
              <li class="scroll-to-section"><a href="#services">Notice</a></li>
              <li class="scroll-to-section"><a href="#projects">FAQs</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)">Board</a>
                <ul class="sub-menu">
                  <li><a href="#">Notice</a></li>
                  <li><a href="#">Community</a></li>
                  <li><a href="#">Free</a></li>
                </ul>
              </li>
              <li class="scroll-to-section"><a href="#contact">Contact</a></li>
              <li><a href="#">Mypages</a></li>
              <li><a href="#">login</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  
  <!-- find id, pw start -->
<div class="maint_empty">
  <div class="row">
      <div class="col-md-6 mx-auto p-0" >
          <div class="card">
              <div class="findid-box">
                  <div class="findid-snip">
                      <input id="tab-1" type="radio" name="tab" class="find-id" checked><label for="tab-1"
                          class="tab">Find ID</label>
                      <input id="tab-2" type="radio" name="tab" class="find-pw"><label for="tab-2" class="tab">Find
                          PW</label>
                      <div class="findid-space">
                          <div class="findid">
                              <div class="group">
                                  <label for="user" class="label">Username</label>
                                  <input id="user" type="text" class="input" placeholder="Enter your username">
                              </div>
                              <div class="group">
                                  <label for="pass" class="label">Email Address</label>
                                  <input id="pass" type="password" class="input" data-type="password"
                                      placeholder="Enter your password">
                              </div>
                              <div class="group">
                                  <input id="check" type="checkbox" class="check" checked>
                              </div>
                              <div class="group">
                                  <input type="submit" class="button" value="find id">
                              </div>
                              <div class="hr"></div>
                              <div class="foot">
                                  <p>확인이 되지 않으시면 WFF 고객센터 1661-8686 로 연락주세요.<br>(평일 AM10시-PM6시 / 점심시간 PM1시-2시 제외)</p>
                                  <p><a class="logo" href="#"><img src="./assets/images/logo.svg" alt="fww로고"></a></p>
                              </div>
                          </div>
                          <div class="find-pw-form">
                              <div class="group">
                                  <label for="user" class="label">ID</label>
                                  <input id="user" type="text" class="input" placeholder="Enter your Username">
                              </div>
                              <div class="group">
                                  <label for="pass" class="label">Email Address</label>
                                  <input id="pass" type="text" class="input" placeholder="Enter your email address">
                              </div>
                              <div class="group">
                                  <input type="submit" class="button" value="Find PW">
                              </div>
                              <div class="hr"></div>
                              <div class="foot">
                                  <p>ID와 이메일주소를 입력하시면, <br>
                                    해당 메일로 비밀번호 재설정 링크가 발송됩니다.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--==============end find id, pw=============-->




<!-- footer -->
  <footer id="footer">
    <div class="container">
      <div class="footer_left">
        <ul>
          <li class="f_logo">
            <img src="./assets/images/logo_text1.svg" alt="footer_logo1">
            <img src="./assets/images/logo_text2.svg" alt="footer_logo2">
          </li>
          <li class="f_cs">
            <a href="nav_footer.html">
              <button type="button">고객센터></button>
            </a>
            <section class="f_time">
              <span>고객센터 1661-8686</span>
              <span>AM10:00 - PM 18:00 점심시간 13:00 - 14:00</span>
            </section>
          </li>
          <li class="f_con">
            <p>
              주식회사 위프 | 공동대표 어예진 조수정 조성진 조윤채 박혜림 채승병 <br>
              본 사이트는 포트폴리오로 상업적 웹사이트와 무관합니다. <br> 
              사용한 폰트 : 아리따돋음(아모레퍼시픽) | 통신판매 신고번호 2023-서울구로-3 <br>
              <br>
              ⓒWFF,Inc. All rights reserved
            </p>
          </li>
        </ul>
      </div>
      <div class="footer_right">
        <div class="get-free-quote">
          <form id="free-quote" method="submit" role="search" action="#">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-heading">
                  <h2>Contact Us</h2>
                </div>
              </div>
              <div class="col-lg-12">
                <fieldset>
                  <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Enter your E-mail Address"
                    required="">
                </fieldset>
                <fieldset>
                  <!-- <input type="button" class="email_btn" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your E-mail"
                    required=""> -->
                    <button>SUBSCIBE NOW</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>

<!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- <script src="assets/js/isotope.min.js"></script> -->
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/tabs.js"></script>
  <script src="assets/js/popup.js"></script>
  <!-- <script src="assets/js/custom.js"></script> -->

</body>


</html>